/* general styles */


html,body{
    height: 100%;
    width:100%;
  }
  
   .img-border {
     border: 1px solid #ffffff;
     border-radius: 1%;
    }
  
  
  /*padded section */
  .pad-section{
    padding:50px 0;
  }
  
  .pad-section img{
    width:100%;
  }
  
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
  }
  .text-vcenter h1{
    font-family:Quicksand, serif;
    font-size: 5.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  
  #home{
   background:url("img/gif.gif") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  #about{
    background-color: #ECF2F7;
    color:#060C0A;
  }
  
  #portifolio{
    background-color:white;
    color: #3B5AA5;
  }
  
  #portifolio h2{
    font-family:Quicksand, serif;
    font-weight: 500;
  }
  #portifolio .glyphicon{
    border: 2px solid #3B5AA5;
    border-radius: 5%;
    display: inline-block;
    font-size: 60px;
    height: 220px;
    line-height: 220px;
    text-align: center;
    vertical-align: middle;
    width: 220px;
  }
  
  #contact{
    background: url("img/gif-contato.gif") no-repeat center center fixed;
    display:table;
    height: 400px;
    position: relative;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #contact .panel{
    opacity: 0.9;
    
  }
  
  footer {
    padding: 10px 0;
  }
  footer .glyphicon{
    color: #333333;
    font-size: 60px;
  }
  
  footer .glyphicon :hover{
    color: #306d9f;
  }
  
  figure:hover+span {
      bottom: -36px;
      opacity: 1;
  }
  
  /* Gray Scale */
  .hover08 figure img {
      -webkit-filter: grayscale(55%);
      filter: grayscale(55%);
    -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .hover08 figure:hover img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
  }

  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 20px 0;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
  }  
  .navbar {
    background: rgba(0, 0, 0, 0.85);
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

#services{
  background-color: #ECF2F7;
  color:#060C0A;
  padding-block: 25px;
}
section h3.section-subheading {
  margin-bottom: 50px;
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}


.service-heading {
  margin: 15px 0;
}
.text-muted {
  color: #777;
}

#aerogerador{
  text-align: justify;
}
#aerogerador h1 {
  text-align: center;
}

.ruido{
 border-left: #060C0A 3px solid;
 padding-left: 15px;
}

#gif {
  margin-inline: auto;
}
#vantagens{
  padding-block: 30px;
  background-color: #ECF2F7;
}
.desenho img{
  width: 50px;
  text-align: center;
}

.desenho{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  margin-block: 10px;
}
.desenho p{
  margin-top: 10px;
}

section#contact {
  background-color: #222;
  background-image: url(img/Vantagens.gif);
  background-position: center;
  background-repeat: no-repeat;
  padding-block: 50px;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control:focus {
  border-color: #1ee2e7;
  box-shadow: none;
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact::-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact .text-danger {
  color: #e74c3c;
}


:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #1ee2e7;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}
